<div class="container animated fadeIn">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card">
        <div class="card-title white-text center-align">
          <h4>Send Money</h4>
        </div>
        <div class="card-content">
          <form (ngSubmit)="onSubmit()" #logInForm="ngForm" [ngFormOptions]="{updateOn: 'change'}">
            <input type="text" placeholder="Payee ID" name="email" [(ngModel)]="transaction.receiver" #email="ngModel">


            <input id="amount" type="number" name="amount" placeholder="$" [(ngModel)]="transaction.amount" #amount="ngModel">
            <div class="alert alert-danger" *ngIf="!isUser">
              <h5>User doesn't exist.</h5>
            </div>
            <div class="alert alert-danger" *ngIf="!isFunds">
              <h5>Not Enough Funds.</h5>
            </div>
            <div class="alert alert-danger" *ngIf="!isVerified">
              <h5>Does not recognize.</h5>
            </div>
            <div class="alert alert-danger" *ngIf="verifyImage!=''">
              <h5>Please take a picture.</h5>
            </div>
            <div class="alert alert-danger" *ngIf="isMissingFields">
              <h5>Please fill out all fields</h5>
            </div>
            <a class="waves-effect waves-light btn" type="button" (click)="takeAPicture()">Lets verify!</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div style="text-align:center">
      <div *ngIf="!isPicture">
        <button id="snapshotBtn" (click)="triggerSnapshot()">Verify!!</button>
        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
      </div>

      <div class="snapshot" *ngIf="webcamImage && isPicture">
        <img [src]="webcamImage.imageAsDataUrl" />
        <button (click)="isPicture = false">Retake Picture</button>
        <button (click)="webcamImage && isPicture">Send funds!</button>
      </div>
    </div>
  </div>
</div>