<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">FacePal</a>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab">
        <a routerLink="home">Home</a>
      </li>
      <li *ngIf="!isSignIn" class="tab">
        <a routerLink="signup">Sign Up</a>
      </li>
      <li *ngIf="!isSignIn" class="tab">
        <a routerLink="login">Log In</a>
      </li>
      <li *ngIf="isSignIn" class="tab">
        <a routerLink="profile">Profile</a>
      </li>
      <li *ngIf="isSignIn" class="tab">
        <a (click)="logOut()">Log Out</a>
      </li>
      <li class="tab">
        <a routerLink="verify-customer">verify-customer</a>
      </li>
    </ul>
  </div>
</nav>
<!--router views-->
<router-outlet></router-outlet>