<nav class="nav-extended" style="background-color:#0b182a;">
  <div class="container nav-content">
    <ul class="tabs tabs-transparent">
      <img src="./assets/images/facepal_logo.png" alt="Smiley face" height="42">
      <li class="tab">
        <a routerLink="home">Home</a>
      </li>
      <li *ngIf="!isSignIn" class="tab">
        <a routerLink="signup">Sign Up</a>
      </li>
      <li *ngIf="!isSignIn" class="tab">
        <a routerLink="login">Log In</a>
      </li>
      <li *ngIf="isSignIn" class="tab">
        <a routerLink="profile">Profile</a>
      </li>
      <li *ngIf="isSignIn" class="tab">
        <a (click)="logOut()">Log Out</a>
      </li>
      <li *ngIf="isSignIn" class="tab">
        <a routerLink="verify-customer">Send Money</a>
      </li>
    </ul>
  </div>
</nav>


<!--router views-->
<router-outlet></router-outlet>
