<h4>Create Your Profile</h4>

<form (ngSubmit)="onSubmit()" #signUpForm="ngForm" [ngFormOptions]="{updateOn: 'change'}">

  <div class="form-group">
    <label for="firstName">First Name {{customer.firstName}}</label>
    <input id="firstName" type="text" class="form-control" name="firstName" required [(ngModel)]="customer.firstName" #firstName="ngModel"
      (change)="log(firstName)">
    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required</div>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name {{customer.lastName}}</label>
    <input id="lastName" type="text" class="form-control" name="lastName" required [(ngModel)]="customer.lastName" #lastName="ngModel">
    <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is required</div>
  </div>

  <div class="form-group">
    <label for="DOB">Date of Birth {{customer.DOB}}</label>
    <input id="DOB" type="date" class="form-control" name="DOB" required [(ngModel)]="customer.DOB" #DOB="ngModel">
    <div class="alert alert-danger" *ngIf="DOB.touched && !DOB.valid">Date of Birth is required</div>
  </div>

  <div class="form-group">
    <label for="email">email {{customer.email}}</label>
    <input id="email" type="text" class="form-control" name="email" required pattern="email" [(ngModel)]="customer.email" #email="ngModel"
      (change)="log(email)">
    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
      <div *ngIf="email.errors.required">Photo is required</div>
      <div *ngIf="email.errors.pattern">Need to be in email format</div>
    </div>
  </div>


  <div class="form-group">
    <label for="password">Password {{customer.password}}</label>
    <input id="password" type="text" class="form-control" name="password" required [(ngModel)]="customer.password" #password="ngModel">
    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is required</div>
  </div>

  <div class="form-group">
    <label for="photo">Photo {{customer.photo}}</label>
    <input id="photo" type="text" class="form-control" name="photo" required pattern="url" [(ngModel)]="customer.photo" #photo="ngModel"
      (change)="log(photo)">
    <div class="alert alert-danger" *ngIf="photo.touched && !photo.valid">
      <div *ngIf="photo.errors.required">Email is required</div>
      <div *ngIf="photo.errors.pattern">Need to be in url format</div>
    </div>
  </div>


  <button type="submit" class="btn btn-default">Submit</button>
</form>
