<div class="container animated fadeIn">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card">
        <div class="card-title white-text center-align">
          <h4>Log In</h4>
        </div>
        <div class="card-content">
          <form (ngSubmit)="onSubmit()" #logInForm="ngForm" [ngFormOptions]="{updateOn: 'change'}">

            <div class="form-group">
              <label for="email">email {{customer.email}}</label>
              <input id="email" type="text" class="form-control" name="email" required pattern="email" [(ngModel)]="customer.email" #email="ngModel">
              <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Photo is required</div>
                <div *ngIf="email.errors.pattern">Need to be in email format</div>
              </div>
            </div>


            <div class="form-group">
              <label for="password">Password {{customer.password}}</label>
              <input id="password" type="text" class="form-control" name="password" required [(ngModel)]="customer.password" #password="ngModel">
              <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is required</div>
            </div>


            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>