<div class="container wow animated fadeIn">

  <div class="col s12" style="margin-bottom:50px">
    <div class="carousel">
      <a class="carousel-item" href="#three!">
        <img src="./assets/images/Depositphotos_24071337_s-2015.jpg">
      </a>
      <a class="carousel-item" href="#one!">
        <img src="./assets/images/Depositphotos_66269141_s-2015.jpg">
      </a>
      <a class="carousel-item" href="#two!">
        <img src="./assets/images/Depositphotos_66266877_s-2015.jpg">
      </a>
    </div>
  </div>

  <div class="row animated fadeInUp">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <span id="homeTitle" class="card-title center-align">
            <img src="./assets/images/facepal_logo.png" alt="Smiley face" height="42">
          </span>
          <div class="row center-align">
            <div class="col s12">
              <p>Combine the security of facial recognition software with electronic payments - all at your fingertips with
                this easy-to-use app!</p>
            </div>
          </div>
          <div class="row center-align">
            <div class="col s12">
              <a class="waves-effect waves-light btn-large" (click)="routeSignUp()">Sign Up</a>
              <a class="waves-effect waves-light btn-large" (click)="routeLogIn()">Login</a>
            </div>
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col s12 m6">
            <h5>Technologies used:</h5>
            <ul class="fa-ul">
              <li>
                <i class="fa-li fa fa-check"></i>
                <a href="https://angular.io/" target="_blank">Angular 5</a>
              </li>
              <li>
                <i class="fa-li fa fa-check"></i>
                <a href="https://www.kairos.com/" target="_blank">Kairos Face Recognition API</a>
              </li>
              <li>
                <i class="fa-li fa fa-check"></i>
                <a href="https://jqueryvalidation.org/" target="_blank">jQuery Validate</a>
              </li>
              <li>
                <i class="fa-li fa fa-check"></i>
                <a href="http://materializecss.com/" target="_blank">Materialize.css</a>
              </li>
              <li>
                <i class="fa-li fa fa-check"></i>
                <a href="http://mynameismatthieu.com/WOW/" target="_blank">WOW.js</a>
              </li>
              <li>
                <i class="fa-li fa fa-check"></i>
                <a href="http://docs.sequelizejs.com/" target="_blank">Sequelize</a>
              </li>

              <li>
                <i class="fa-li fa fa-check"></i>
                <a href="https://www.mysql.com/" target="_blank">MySQL</a>
              </li>
            </ul>
          </div>
          <div class="col s12 m6">
            <h5>Built by:</h5>
            <ul class="fa-ul">
              <li>
                <i class="fa-li fa fa-github"></i>
                <a href="https://www.github.com/emilyhosoya" target="_blank">@emilyhosoya</a>
              </li>
              <li>
                <i class="fa-li fa fa-github"></i>
                <a href="https://github.com/garviswbs" target="_blank">@garviswbs</a>
              </li>
              <li>
                <i class="fa-li fa fa-github"></i>
                <a href="https://github.com/mkalivod" target="_blank">@mkalivod</a>
              </li>
              <li>
                <i class="fa-li fa fa-github"></i>
                <a href="https://github.com/kennyt85" target="_blank">@kennyt85</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>